[Unit]
Description='Alienware Battery logo init service'
After=display-manager.service

[Service]
Type=oneshot
ExecStart=/opt/AlienwareBattery/startup.sh

[Install]
WantedBy=multi-user.target
